body {
	padding-top:50px; 
  height: 150px;
  background-image: linear-gradient(-45deg,
    #fff 25%,
    #ffc0cb 25%, #ffc0cb 50%,
    #fff 50%, #fff 75%,
    #ffc0cb 75%, #ffc0cb
  ););
  background-size: 50px 50px;
}

@font-face {
    font-family: 'ニコモジ＋';
    src: url('nicomoji-plus_v0.9.ttf') format('truetype');
}

h1 {
  font-family: 'ニコモジ＋';
  font-size: 36px;
}

h2 {
  font-family: 'ニコモジ＋';
  font-size: 40px;

}

h3 {
  font-family: 'ニコモジ＋';
  font-size: 40px;
}

p {
  font-family: 'ニコモジ＋';
  font-size: 25px;
}


.box-3-1 p {
  font-size: 18px;

}

.box-txt{
  color: black;

}

.title h3 p{
  background: white;
}

.navbar-nav.navbar-right{
  font-family: 'ニコモジ＋';
  font-size: 20px;
}

.navbar-brand {
  background: url("../img/logo.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}

.navbar {
	border-color: white;
	background: white;

}

.page-header {
  background-color: white;
}

.fa-external-link:before {
  content: url(pondelion.png);
}

.fa-chevron-circle-right:before {
  content: url(pondelion.png);
}


.row {
  padding-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
}

.form {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  background: white;
}